.user-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    justify-content: center;
    padding: 5%;

    &__loader {
        left: 50%;
        position: absolute;
        top: 50%;
    }

    &__image {
        img {
            height: 300px;
            width: 300px;
            border-radius: 50%;
        }
    }

    &__email {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}