html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

.app {
    .header {
        align-items: center;
        background-color: #0598EC;
        display: flex;
        height: 40px;
        justify-content: flex-end;
        padding: 2px 30px;
        position: fixed;
        width: 95%;

        a {
            color: #fff;
            font-size: 1.2rem;
            margin: auto 10px;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .content {
        padding-top: 40px;
    }
}